node_modules
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
*.pack
*.old
